* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix {
  content: '';
  clear: both;
  display: table;
}

.overlay {
  background-color: rgba(0,0,0,0.2);
  height: 100%;
  border-radius: 25px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #929292;
}

.container {
  width: 80%;
  margin: auto;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 18px;
  margin: 20px 0;
  font-weight: 500;
}

.logo img{
  width: 150px;
  padding-right: 20px;
  border-right: 1px #929292 solid;
}

nav ul {
  margin: 50px 0;
}

nav li {
  display: inline;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: gray;
}

/* banner */
.banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  border-radius: 25px;
  overflow: hidden;
}

.banner-content {
  padding-left: 80px;
  color: #ffffff;
  padding-right: 50px;
}

.banner .slogan {
  font-size: 36px;
  padding-top: 350px;
}

.banner .slogan-content {
  font-size: 18px;
}

.title {
  margin: 60px 0;
}

/* layout */
.col-left {
  float: left;
  width: 20%;
}
.col-center {
  float: left;
  width: 56%;
  margin: 0 2%;
}

.col-right {
  float: left;
  width: 20%;
}

.box-img {
  height: 200px;
  border-radius: 25px;
  overflow: hidden;
}

.image-center {
  background-image: url("../img/banner-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-left {
  background-image: url("../img/img-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-right {
  background-image: url("../img/img-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* footer */
footer p {
  text-align: center;
  padding: 25px;
}

footer p::after {
  content: ' \2665';
  color: red;
}